# Dependencies
node_modules/
**/node_modules/

# Build & Output
dist/
**/dist/
build/
**/build/
.nx/
.cache/
*.tsbuildinfo
**/*.tsbuildinfo

# Testing & Coverage
coverage/
**/coverage/
.vitest/

# OS & IDE
.DS_Store
*.pem
.env
.env.local
.vscode/
.idea/
.nx

dist/
dist-wc/
.expo/
